{% extends 'home.html' %}
{% block content %}
<table class="ui celled table">
    <thead>
        <tr class="center aligned">
            <th colspan="2">
                <h2>Task Details</h2>
            </th>
        </tr>
    </thead>
    <tbody>

        <tr class="center aligned">
            <td><b>Title</b></td>
            <td>{{task.title}}</td>
        </tr>
        <tr class="center aligned">
            <td><b>Description</b></td>
            <td>{{task.description}}</td>
        </tr>
        <tr class="center aligned">
            <td><b>Due Date</b></td>
            <td>{{task.due_date}}</td>
        </tr>
        <tr class="center aligned">
            <td><b>Priority</b></td>
            <td>{{task.priority}}</td>
        </tr>
        <tr class="center aligned">
            <td><b>Complete</b></td>
            <td>{{task.complete}}</td>
        </tr>
        <tr class="center aligned">
            <td><b>Created at</b></td>
            <td>{{task.created_at}}</td>
        </tr>
        <tr class="center aligned">
            <td><b>Updated at</b></td>
            <td>{{task.updated_at}}</td>
        </tr>
        <tr class="center aligned">
            <td><b>Action</b></td>
            <td><a class="ui blue button" href="">Update</a> <a  class="negative ui button" href="">Delete</a></td>
        </tr>


    </tbody>
</table>

<h2>Task Images</h2>
<hr>

<div class="ui four cards">

    {% for image in images %}
    <a class="red card">
        <div class="image" style="width: 100% !important; height: 100% !important; object-fit: cover !important;">
            <img src="{{ image.image.url }}" style="width: 100% !important; height: 100% !important; object-fit: cover !important;">
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}

