{% extends 'home.html' %}
{% block content %}
<br>
<form class="ui form" method="GET" action="{% url 'task:task_list' %}">
    <div class="five fields">
        <div class="field">
            {{ form.title__icontains.label_tag }}
            {{ form.title__icontains }}
        </div>
        <div class="field">
            {{ form.due_date.label_tag }}
            {{ form.due_date }}
        </div>
        <div class="field">
            {{ form.priority.label_tag }}
            {{ form.priority }}
        </div>
        <div class="field">
            {{ form.complete.label_tag }}
            {{ form.complete }}
        </div>
        <div class="field">
            {{ form.created_at.label_tag }}
            {{ form.created_at }}
        </div>
    </div>
    <button class="ui button " type="submit">Search</button>
</form>


<hr>

<h2>Task List</h2>

<table class="ui celled table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Complete</th>
            <th>Created at</th>
        </tr>
    </thead>
    <tbody>

        {% for task in tasks %}
        <tr>
            <td><a href="{% url 'task:task_detail' task.pk %}">{{task.title}}</a></td>
            <td>{{task.due_date}}</td>
            <td>
                
                {% if task.priority == "L" %}
                Low
                {% elif task.priority == "M" %}
                Medium
                {% elif task.priority == "H" %}
                High   
                {% endif %}
            </td>
            <td>
                {% if task.complete == True %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
            <td>{{task.created_at}}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock content %}