{% extends 'home.html' %}

{% block content %}
<h2>Login to your account</h2>
<hr>
<form class="ui form" action="{% url 'user:login' %}" method="POST">
    {% csrf_token %}
    <div class="field">
        <label>Email</label>
        <input type="email" name="email" placeholder="Email">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
    </div>

    <p><a href="{% url 'user:password_reset' %}">Forget password</a></p>
    
    <button class="ui button" type="submit">Login</button>
</form>
{% endblock content %}