{% extends 'home.html' %}
{% block content %}
<h2>Enter New Password</h2>
<h5>Please, enter your password twice, so that we can verify you typed your password correctly.</h5>
<hr>
<form class="ui form" method="post">
    {% csrf_token %}
    <div class="field">
        <label>New Password:</label>
        {{ form.new_password1 }}
    </div>
    <div class="field">
        <label>Confirm Password:</label>
        {{ form.new_password2 }}
    </div>
    
    <button class="ui button" type="submit">Change my password</button>
</form>
{% endblock %}