<div class="ui secondary menu">
  <a href="{% url 'task:task_list' %}" class="{% if request.path == '/' %}active item{% else %}item{% endif %}"> Home </a>
  {% if user.is_authenticated %}
  <a href="{% url 'task:task_create' %}" class="{% if request.path == '/task/create/' %}active item{% else %}item{% endif %}"> Create Task </a>
  {% endif %}
  <div class="right menu">
    {% if user.is_authenticated %}
    <p class="ui item" >{{user.first_name}} {{user.last_name}}</p>
    <form class="ui item" action="{% url 'user:logout' %}" method="Post">
      {% csrf_token %}
      <button class="ui negative button" type="submit">Logout</button>
    </form>
    {% else %}
    <a href="{% url 'user:register' %}" class="ui item"> Register </a>
    <a href="{% url 'user:login' %}" class="ui item"> Login </a>
    {% endif %}
  </div>
</div>
